{% extends "base.html" %}
{% block content %}

<h1>Erstelle dir einen Account</h1>


<form method="POST" action="/register/" class="register">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" name='nickname'>
        <label class="mdl-textfield__label" for="sample3">Nickname...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" name='first_name'>
        <label class="mdl-textfield__label" for="sample3">First name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" name='last_name'>
        <label class="mdl-textfield__label" for="sample3">Last name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="sample3" name='email'>
        <label class="mdl-textfield__label" for="sample3">Email...</label>
    </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="sample3" name='password1'>
        <label class="mdl-textfield__label" for="sample3">Password...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="sample3" name='password2'>
        <label class="mdl-textfield__label" for="sample3">Password...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Speichern
    </button>

</form>



{% endblock %}