{% extends "base.html" %}
{% block content %}

<h1>Erstelle dir einen Account</h1>

<div>
    <form method="POST" action="/register/" class="register max-w center" style="width: 100%;">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required type="text" id="nickname" name='nickname'>
            <label class="mdl-textfield__label" for="sample3">Nickname...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required type="text" id="first_name" name='first_name'>
            <label class="mdl-textfield__label" for="sample3">First name...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="last_name" name='last_name'>
            <label class="mdl-textfield__label" for="sample3">Last name...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="email" name='email'>
            <label class="mdl-textfield__label" for="sample3">Email...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required type="password" id="password1" name='password1'>
            <label class="mdl-textfield__label" for="sample3">Password...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" required type="password" id="password2" name='password2'>
            <label class="mdl-textfield__label" for="sample3">Password...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="max-width:300px;">
            Speichern
        </button>

    </form>
</div>


{% endblock %}