{% extends "base.html" %}
{% block content %}


<div class="imprint">
    <h1>Legal Notice</h1>
    <p>Information in accordance with Section 5 TMG</p>
    <p>
        Tony Tech <br />
        Eschenweg 6<br />
        78604 Rietheim-Weilheim <br />
    </p>
    <p>
        <strong>Represented by: </strong><br />
        Tony Tech<br />
    </p>
    <p>
        <strong>Contact:</strong> <br />
        <br />E-Mail: <a href="mailto:tony@tech-mail.eu">tony(at)tech-mail.eu</a>
    </p>
    <p>
        <strong>Disclaimer: </strong>
        <br />
        <br />
        <strong>Liability for Content</strong>
        <br />
        <br />
        <span>
            The contents of our pages have been created with the utmost care. However,
            we cannot guarantee the accuracy, completeness, and timeliness of the
            content. As a service provider, we are responsible for our own content on
            these pages in accordance with general laws, pursuant to Section 7(1) of
            the German Telemedia Act (TMG). According to Sections 8 to 10 TMG, as a
            service provider, we are not obligated to monitor transmitted or stored
            third-party information or investigate circumstances that indicate illegal
            activity. Obligations to remove or block the use of information under
            general laws remain unaffected. However, liability in this regard is only
            possible from the time of knowledge of a specific legal violation. Upon
            becoming aware of corresponding legal violations, we will remove this
            content immediately.
        </span>
        <br />
        <br />
        <strong>Liability for Links</strong>
        <br />
        <br />
        <span>
            Our offer contains links to external websites of third parties, on whose
            contents we have no influence. Therefore, we cannot assume any liability
            for these external contents. The respective provider or operator of the
            linked pages is always responsible for the contents of the linked pages.
            The linked pages were checked for possible legal violations at the time of
            linking. Illegal contents were not recognizable at the time of linking.
            However, permanent monitoring of the content of the linked pages is not
            reasonable without concrete evidence of a violation of the law. If we
            become aware of any legal violations, we will remove such links
            immediately.
        </span>
        <br />
        <br />
        <strong>Copyright</strong>
        <br />
        <br />
        <span>
            The content and works created by the site operators on these pages are
            subject to German copyright law. The reproduction, processing,
            distribution, and any kind of exploitation outside the limits of copyright
            require the written consent of the respective author or creator. Downloads
            and copies of this site are only permitted for private, non-commercial
            use. Insofar as the content on this site was not created by the operator,
            the copyrights of third parties are respected. In particular, third-party
            content is identified as such. Should you nevertheless become aware of a
            copyright infringement, please inform us accordingly. If we become aware
            of any legal violations, we will remove such content immediately.
        </span>
        <br />
        <br />
        <strong>Data Protection</strong>
        <br />
        <br />
        <span>
            The use of our website is generally possible without providing personal
            data. As far as personal data (e.g., name, address, or email addresses) is
            collected on our pages, this is always done on a voluntary basis, as far
            as possible. This data will not be disclosed to third parties without your
            explicit consent.
        </span>
        <br />
        <span>
            We point out that data transmission over the Internet (e.g., communication
            by email) can have security gaps. A complete protection of data against
            access by third parties is not possible.
        </span>
        <br />
        <span>
            The use of contact data published within the scope of the imprint
            obligation by third parties for sending unsolicited advertising and
            information materials is hereby expressly prohibited. The operators of the
            pages expressly reserve the right to take legal action in the event of
            unsolicited sending of advertising information, such as spam emails.
        </span>
        <br />
        <br />
        <br />
        <strong>Google Analytics</strong>
        <br />
        <br />
        <span>
            This website uses Google Analytics, a web analytics service provided by
            Google Inc. (''Google''). Google Analytics uses so-called ''cookies'',
            text files that are stored on your computer and that allow an analysis of
            the use of the website by you. The information generated by the cookie
            about your use of this website (including your IP address) is transmitted
            to a Google server in the USA and stored there. Google will use this
            information to evaluate your use of the website, to compile reports on
            website activity for website operators, and to provide other services
            related to website activity and internet usage. Google may also transfer
            this information to third parties if required by law or if third parties
            process this data on behalf of Google. Google will not associate your IP
            address with other data held by Google under any circumstances. You can
            prevent the installation of cookies by setting your browser software
            accordingly; however, we would like to point out that in this case, you
            may not be able to use all functions of this website to their full extent.
            By using this website, you agree to the processing of data about you by
            Google in the manner and for the purposes set out above.
        </span>
        <br />
        <br />
        <strong>Google AdSense</strong>
        <br />
        <br />
        <span>
            This website uses Google AdSense, a web advertising service provided by
            Google Inc., USA (''Google''). Google AdSense uses so-called ''cookies''
            (text files) that are stored on your computer and that enable an analysis
            of the use of the website by you. Google AdSense also uses so-called ''web
            beacons'' (small invisible graphics) to collect information. By using the
            web beacon, simple actions such as visitor traffic on the website can be
            recorded and collected. The information generated by the cookie and/or web
            beacon about your use of this website (including your IP address) is
            transmitted to a Google server in the USA and stored there. Google will
            use this information to evaluate your use of the website with regard to
            advertisements, to compile reports on website activity and advertisements
            for website operators, and to provide other services related to website
            activity and internet usage. Google may also transfer this information to
            third parties if required by law or if third parties process this data on
            behalf of Google. Google will not associate your IP address with other
            data held by Google under any circumstances. You can prevent the storage
            of cookies on your hard drive and the display of web beacons by selecting
            ''do not accept cookies'' in your browser settings (in MS Internet
            Explorer under ''Tools > Internet Options > Privacy > Settings''; in
            Firefox under ''Tools > Settings > Privacy > Cookies''); however, we would
            like to point out that in this case, you may not be able to use all
            functions of this website to their full extent. By using this website, you
            agree to the processing of data about you by Google in the manner and for
            the purposes set out above.
        </span>
    </p>
    <br />
    <span> Website imprint by </span>
    <a href="https://www.impressum-generator.de"> impressum-generator.de</a>
</div>

{% endblock %}