{% extends "base.html" %}
{% block content %}

<!-- Content -->

<!-- Your Landing Page Content Goes Here -->
<div class="landing-buttons dfccc">
    <h2>Welcome to simple chat</h2>
    <p> This is a simple chat website developed using Django and Python </p>
    <p>Available chat rooms:</p>

    <a href="../chat1"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 1
        </button></a>
    <a href="../chat2"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 2
        </button></a>
    <a href="../chat3"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 3
        </button></a>
    <a href="../chat4"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 4
        </button></a>

    <h5 style="text-align: center;margin-top: 40px;">Would you like to take a closer look at the code? <br><a
            href="https://github.com/ttech101/django_simple-chat">Here</a> is my
        GitHub repository.</h5>
    <h5 style="text-align: center;margin-top: 30px;">Would you like to take a look at the documentation? <br>
        Then click <a href="https://github.com/ttech101/django_simple-chat">here</a>
        GitHub repository.</h5>
</div>


{% endblock %}