{% extends "base.html" %}
{% block content %}

<!-- Content -->

<!-- Your Landing Page Content Goes Here -->
<div class="landing-buttons">
    <h2>Welcome to simple chat</h2>
    <p> This is a simple chat website developed using Django and Python </p>
    <p>Available chat rooms:</p>

    <a href="../chat1"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 1
        </button></a>
    <a href="../chat2"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 2
        </button></a>
    <a href="../chat3"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 3
        </button></a>
    <a href="../chat4"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat room 4
        </button></a>
</div>

{% endblock %}