{% extends "base.html" %}
{% block content %}

<!-- Content -->

<!-- Your Landing Page Content Goes Here -->
<div class="landing-buttons">
    <h2>Willkommen auf unserer Chat-Webseite</h2>
    <p>Hier können Sie mit anderen Benutzern in einem der 4 Chat-Räume chatten. Sie können auch als Gast
        beitreten.</p>
    <p>Verfügbare Chat-Räume:</p>

    <a href="../chat1"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat-Raum 1
        </button></a>
    <a href="../chat2"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat-Raum 2
        </button></a>
    <a href="../chat3"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat-Raum 3
        </button></a>
    <a href="../chat4"><button style="margin-bottom: 10px;"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Chat-Raum 4
        </button></a>
    <p style="margin-top: 10px;">Als Gast beitreten:</p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Als Gast beitreten
    </button>
</div>



{% endblock %}