{% extends "base.html" %}
{% block content %}

<div class="dfw center">
    <div class="max-w">
        <h1>Login</h1>

        {% if wrongPassword %}
        <p>Benutzername oder Passwort ist falsch!</p>
        {% endif %}

        <form class="mdl-grid" method="POST" action="/login/">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{ redirect }}">

            <div class="mdl-cell mdl-cell--12-col center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <input class="mdl-textfield__input" type="text" name="username" id="username">
                    <label class="mdl-textfield__label" for="username">Benutzername</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" name="password" id="password">
                    <label class="mdl-textfield__label" for="password">Passwort</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Login
                </button>
            </div>
        </form>
        <div class="center">
            <p>Neu hier? Erstelle dir hier einen Account um den Chat beizutretten.</p>
            Bitte klicke <a href="/register/">hier</a>
        </div>
    </div>
    <div>
        <h1>Guest login</h1>
        <p>Gerne kannst du auch als Gast beitretten.</p>
        <div class="mdl-cell mdl-cell--12-col center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Guest
            </button>
        </div>
    </div>
</div>
{% endblock %}