{% extends "base.html" %}
{% block content %}

<div class="dfw center">
    <div class="max-w">
        <h1>Login</h1>

        {% if wrongPassword %}
        <p>Username or password is incorrect!</p>
        {% endif %}

        <form class="mdl-grid" method="POST" action="/login/">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{ redirect }}">

            <div class="mdl-cell mdl-cell--12-col center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <input class="mdl-textfield__input" type="text" name="username" id="username">
                    <label class="mdl-textfield__label" for="username">User name</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col center">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" name="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Login
                </button>
            </div>
        </form>
        <div class="center">
            <p>New here? Create an account here to join the chat.</p>
            Please click <a href="/register/">here</a>
        </div>
    </div>
    <div>
        <h1>Guest login</h1>
        <p>You are also welcome to join as a guest.</p>
        <form class="mdl-grid" method="POST" action="/login/">
            {% csrf_token %}
            <input type="hidden" name="redirect" value="{{ redirect }}">
            <input type="hidden" name="username" value="guest">
            <input type="hidden" name="password" value="123456">
            <div class="mdl-cell mdl-cell--12-col center">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Guest
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}